div.header {
    background-color: rgb(200, 46, 46);
    padding: 5px;
}


body{
    background-color: rgb(32, 33, 36);
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
    color: #e8eaed;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    display: inline-block;
}

p1{
    color: #bdc1c6;
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

p{
    color: #bdc1c6;
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    word-wrap: break-word;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline;
}


input {
    border: none;
    background-color: rgb(48 49 52);
    resize: none;
    outline: none;
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial,sans-serif;
    color: #e8eaed;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    border-radius: 20px;
    padding-left: 20px;       


}

ol{
    font-size: small;
    padding-right: 5px;
}

.word{
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial,sans-serif;
    color: #e8eaed;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

a{
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    font-family: arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    -webkit-tap-highlight-color: rgba(255,255,255,.10);
    outline: 0;
    color: rgba(155,160,165);
    text-decoration: underline;
    text-decoration-color: #9aa0a6;
    text-transform: capitalize;
}

p2{
    --center-abs-margin: 180px;
    --center-column-margin: var(--center-abs-margin);
    --center-width: 652px;
    --center-column-width: var(--center-width);
    --rhs-margin: 60px;
    --rhs-width: 369px;
    font-family: arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    -webkit-tap-highlight-color: rgba(255,255,255,.10);
    outline: 0;
    color: rgba(155,160,165);
    text-decoration-color: #9aa0a6;
    text-transform: capitalize;
}

p3{
    -webkit-text-size-adjust: 100%;
    --background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0,0,0,.65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    word-wrap: break-word;
    font-family: system-ui, sans-serif;
    color: var(--text-color);
    font-size: 1em;
    line-height: 1.55;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
