<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    {% if title %}
    <title>{{ title }} - define it</title>
    {% else %}
    <title>define it</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',
    filename='style.css') }}">
</head>

<nav class="navbar navbar-default h-100">
    <div class="container-fluid">
      <div class="navbar-header">
        define it<br>
        <p1>/dɪˈfʌɪn/ /ɪt/</p1>
      </div>
      <ul class="nav navbar-nav" style="padding: 10px;">
        <li><a href="{{ url_for('index') }}">play</a></li>
        <li><a href="{{ url_for('introduction') }}">info</a></li>
        <li><a href="{{ url_for('stats') }}">stats</a></li>
        <li><a href="{{ url_for('admincheck') }}">dev tools</a></li>
        <li>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <style>
    input[type=button], input[type=submit], input[type=reset] {
    background-color: #000000;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  input, select, textarea{
      color: #000000;
  }
  
  textarea:focus, input:focus {
      color: #000000;
  }
  </style>
<div class="container">
<h1>Create new puzzle</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
        <p>
            {{ form.word.label }}
            {{ form.word(size=32) }}
            {% for error in form.word.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.wordType.label }}
            {{ form.wordType(size=32) }}
        </p>
        <br>
        <p>
            {{ form.definition.label }}
            {{ form.definition(size=32) }}
        </p>
        <br>
        <p>
            {{ form.sentence.label }}
            {{ form.sentence(size=32) }}
        </p>
        <br>
        <p>{{ form.submit() }}</p>
 


</form>
</div>
</html>