<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    {% if title %}
    <title>{{ title }} - define it</title>
    {% else %}
    <title>define it</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',
    filename='style.css') }}">
</head>
<script src="{{ url_for('static', filename='guessClues.js')
    }}" async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

<nav class="navbar navbar-default h-100">
    <div class="container-fluid">
      <div class="navbar-header">
        define it<br>
        <p1>/dɪˈfʌɪn/ /ɪt/</p1>
      </div>
      <ul class="nav navbar-nav" style="padding: 10px;">
        <li class="active"><a href="{{ url_for('index') }}">play</a></li>
        <li><a href="{{ url_for('introduction') }}">info</a></li>
        <li><a href="{{ url_for('button') }}">stats</a></li>
        <li><a href="{{ url_for('dev') }}">dev tools</a></li>
        <li>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="word">
                <input type="text" id="guess" name="guess" autocomplete="off" placeholder="Define It!">
            </div>
          </div>
      </div>
    <div class="row">
        <div class="wordstyle"><div class="col-sm-12" id="soln">‎</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="langpart" id="clue2">‎</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="defin" id="clue1">‎</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="sentuse" id="clue3">‎</div>
        </div>
    </div>
  </div>
  <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>correct</p><br>
            <p>the word was <span id="answer"></span></p><br>
            <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fpublish.twitter.com%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&text=OMG%20%F0%9F%98%B1%20this%20is%20the%20hardest%20puzzle%20game%20ever!%20%F0%9F%98%AD%20Can%20you%20beat%20this%20daily%20puzzle%20%EF%B9%96%F0%9F%A4%94%20I%20DID%20%F0%9F%92%AF%F0%9F%91%8C%F0%9F%94%A5%20i%20bet%20you%20cant%20win%20%F0%9F%98%8E%20click%20the%20link%20to%20try%20%F0%9F%91%87%E2%9A%A0%EF%B8%8F&url=http:127.0.0.1:5000">Tweet</a>
        </div>
    </div>
</html>