<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    {% if title %}
    <title>{{ title }} - define it</title>
    {% else %}
    <title>define it</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',
    filename='style.css') }}">
</head>

<nav class="navbar navbar-default h-100">
    <div class="container-fluid">
      <div class="navbar-header">
        define it<br>
        <p1>/dɪˈfʌɪn/ /ɪt/</p1>
      </div>
      <ul class="nav navbar-nav" style="padding: 10px;">
        <li><a href="{{ url_for('index') }}">play</a></li>
        <li><a href="{{ url_for('introduction') }}">info</a></li>
        <li class="active"><a href="{{ url_for('stats') }}">stats</a></li>
        <li><a href="{{ url_for('admincheck') }}">dev tools</a></li>
        <li>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Stats for {{ current_user.username }}</h1>
    <div id="statsDisplay" class="statsform">
        <p>Games played: {{ current_user.gamesPlayed }}</p>
        <br>
        <p>Games won: {{ current_user.gamesWon }}</p>
        <br>
        <p>Total Guesses: {{ current_user.totalGuesses }}</p>
        <br>
        <p>Current Streak: {{ current_user.currentStreak }}</p>
        <br>
        <p>Best Streak: {{ current_user.bestStreak }}</p>
        <br>
        <p>Average Guesses: {{ current_user.totalGuesses / current_user.gamesPlayed }}</p>
        <br>
        <p>Win Rate: {{ current_user.gamesWon / current_user.gamesPlayed * 100 }}%</p>
    </div>
  </div>
<html